<div class="row">
  
  <div class="page-header">
    <h1>Product Detail</h1>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
        <div class="thumbnail product-detail">
          <img src="http://lorempixel.com/400/200/food" alt="..." height="200">
          <div class="caption">
            <h3>{{ vm.product.name}}</h3>
            <h4>{{ vm.product.price | currency:"USD$"}}</h4>
            <p>{{ vm.product.description}}</p>
            <p><a href="#/" class="btn btn-primary" role="button">Volver</a> </p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- form new comment -->
        <div class="col-md-12">
          <form class="form-inline" ng-submit="vm.saveComment()">
            <div class="form-group">
              <input type="hidden" ng-model="vm.comment.product_id">
              <label for="body">Comment</label>
              <input type="text" ng-model="vm.new_comment.text" class="form-control" id="body" placeholder="Put your comment here.">
            </div>
            <button type="submit" class="btn btn-default">Send</button>
          </form>
          <br>

          <!-- status element -->
          <div ng-show="vm.show_element_status" ng-class="{'alert-danger': vm.status_data.status == false, 'alert-success': vm.status_data.status==true}" class="alert " role="alert">
            {{vm.status_data.message}}
          </div>
          
        </div>

        <!-- list comments -->
        <div class="col-md-12">
          <h2>Comments</h2>
          <div class="media" ng-repeat="comment in vm.product.comments | orderBy:'date':true">
            <div class="media-left">
              <a >
                <img class="media-object" src="http://lorempixel.com/86/86/animals" alt="..." width="86" height="86">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">by {{comment.user_ip}}</h4>
              <p>{{comment.text}}</p>
              <p class="text-muted">public at {{comment.date | date:'dd/MM/yyyy  h:mma'}}</p>
            </div>
          </div>
        </div>
      
      </div> <!-- end col-md-6 -->

    </div>
</div>
  
  